@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Playball&display=swap");

.relaxation {
  font-family: "Playball", cursive;
  font-size: 4em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.relaxationCard {
  width: 30em;
  text-align: center;
  border-color: #decba4;
  background-image: linear-gradient(to top, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
  box-shadow: 10px 10px 5px #aaaaaa;
  border-width: 0.2em;
}

.relaxationCard span {
  font-size: 2em;
}
