.serviceCard {
  width: 25em;
  text-align: center;
   border-color: #DECBA4;
}

.card-title {
  font-weight: bolder;
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 20px;
}

.serviceImage {
 border-radius: 10px;
  min-width: 300px !important;
}
