@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Playball&display=swap");

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2.5rem;
  border-radius: 0.3rem;
  text-align: center;
  color: rgb(141, 105, 60);
  font-family: "Playball", cursive;
}
.welcome {
  font-size: 8em;
}
