@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Playball&display=swap");

.how {
  font-family: "Playball", cursive;
  font-size: 6em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.count {
  align-items: center;
  font-size: 6em;
  }

.button-wrapper button {
  background-color: white !important;
  border: none;
  margin-top: 1em;
}

.rate {
  margin-bottom: 1em;
  
}