@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Playball&display=swap");

.how {
  font-family: "Playball", cursive;
  font-size: 6em;
  margin-top: 0.5em;
}

.count {
  align-items: center;
  font-size: 6em;
}

.button-wrapper button {
  border: none;
  margin-top: 0.5em;
}

.rate {
  margin-bottom: 0.5em;
}

.far {
  font-size: 2em;
  color: black;
  margin-left: 50px;
  border-radius: 100%;
}
