@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Playball&display=swap");

.colourCard {
  border-color: #decba4;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
  margin: 1em;
  border-width: 0.2em;
}

.colourImage {
  border-radius: 10px;
  width: 100px;
}

.colour {
  font-family: "Playball", cursive;
  font-size: 4em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
