@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Playball&display=swap");

.shapeCard {
  border-color: #decba4;
  margin-top: 100px;
  box-shadow: 10px 10px 5px #aaaaaa;
}
.shapeImage {
  border-radius: 10px;
  width: 300px;
}

.shape {
  font-family: "Playball", cursive;
  font-size: 4em;
  margin-top: 1em;
}
